<h2>Hello there. Here is a little insight into my technical knoweldge</h2>
<i>
    I am currently a senior software engineer at Civica, working with primarily ASP.NET MVC and Entity Framework for new green field projects.
</i>

<h3>Other technologies we are currently using in work:</h3>

<ul>
    <li>Selenium for exploratory, functional and acceptance tests. Written in cucumber.</li>
    <li>Machine Spec for unit tests</li>
    <li>GitHub to manage code changes</li>
    <li>Team City for managing the build pipe line and continuous integration.</li>
    <li>Rake (with Ruby) to carry out build tasks.</li>
</ul>
<br />

<p>
    Outside of work I am generally trying to learn new technologies when possible. At the moment I am studying Angular 2, and .Net Core 1.1.
    I actually built this website with these framework as a project. A lot more features to come, and blogs to deliver.
    I finished up at Edinburgh Napier University with a 1st class Honours Degree in Software Engineering and winner of the O’Reilly prize for the best honours project.
</p>
<h3>Most recently I have completed the following exams:</h3>

<ul>
    <li>ASP.NET MVC Web Applications (December, 2016)</li>
</ul>

<p>I am looking to progress to get my MSCD in Web Application development.</p>

<h3>Past exams completed:</h3>
<ul>
    <li>Delivering Continuous Value With Application Lifecycle Management  (Microsoft)</li>
    <li>TS: Visual Studio Team Foundation Server 2010, Administration (Microsoft)</li>
    <li>Professional Scrum Master (PSM-1, scrum.org)</li>
</ul>

<h3>I’ve also been taking some Code School courses, and using Pluralsight heavily:</h3>
<ul>
    <li>Accelerating through Angular (2) (Code school)</li>
    <li>Shaping up with AngularJS (Code school)</li>
    <li>Blasting off with Bootstrap(Code school)</li>
    <li>Breaking the Ice with Regular Expressions (Code school)</li>
</ul>
<p>I’m also an advocate of clean code, well written and testable code using well established patterns and practices.</p>
