<div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-12 body-content'>
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-6">
                    <div class="profile-body">
                        <h1>David Harvey - Software Engineer</h1>
                        <h2>Good software, like wine, takes time. - Joel Spolsky</h2>
                        <h3>
                            Contact me:
                        </h3>
                        <a class="contact-link " href="mailto:harvey_d@hotmail.co.uk" target="_top">
                            <img class="contact-image" src="../../../../wwwroot/images/email.png" width="43" height="33" alt="Email me, Harvey_d@hotmail.co.uk">
                        </a>
                        <a class="contact-link" href="https://uk.linkedin.com/pub/david-harvey/3b/419/134" target="_blank">
                            <img class="contact-image" src="../../../../wwwroot/images/linked_in_icon.png" width="33" height="33" alt="View David Harvey's profile on LinkedIn">
                        </a>
                        <br />
                        <br />

                        <b>
                            An enthusiast of all technologies, but mainly Microsoft technologies.
                        </b>
                        <br />
                        <br />
                        <b>
                            Currently working with ASP.NET MVC, Entity Framework and C#.
                            In my own time I am studying Angular (2), ASP.NET Core, and using VS 2017.
                            Other hobbies include rugby, fitness and music festivals.
                        </b>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="profile-header">
                        <img class="profile-img" src="../../../../wwwroot/images/profile_photo.png" />
                    </div>
                </div>
            </div>
            <nav-menu></nav-menu>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
